[Unit]
Description=Monthly rotation of wtmpdb
Documentation=man:wtmpdb(8)

[Timer]
OnCalendar=monthly
RandomizedDelaySec=900
Persistent=true

[Install]
WantedBy=timers.target
