[Unit]
Description=wtmpdb daemon
Documentation=man:wtmpdbd(8)

[Service]
Type=notify
EnvironmentFile=-/etc/default/wtmpdbd
ExecStart=/usr/libexec/wtmpdbd -s $WTMPDBD_OPTS
